QuizSettingsV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="QuizSettings">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="QuizName" type="xsd:string" />
        <xsd:element name="WeitergabeBeiFehler" type="xsd:int" />
        <xsd:element name="PunkteProFrage" type="xsd:int" />
        <xsd:element name="Spieler">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Namen">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="string" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="QuizFragen">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Situation">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Beschreibung" type="xsd:string" />
                    <xsd:element name="Fragen">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="unbounded" name="FrageGruppe">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Frage" type="xsd:string" />
                                <xsd:element name="Antwort" type="xsd:string" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="xsi:schemaLocation" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
